body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #222;
    color: #fff;
}

canvas {
    display: block;
    margin: 0 auto;
    background: #3a9d23; /* green ground */
}
